.top-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: rgb(245, 242, 237);
  font-weight: 900;
  font-size: 20px;
}

.images {
  width: 93%;
  height: 93%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

body {
  background-color: rgb(188, 128, 128);
  font-family: "Roboto", sans-serif;
}
